<!doctype html>
<html class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>components</title>
<link href="../images/logo-icon.svg" rel="icon" type="image/svg">    <script>var pathToRoot = "../";</script>
    <script>document.documentElement.classList.replace("no-js","js");</script>
    <script>const storage = localStorage.getItem("dokka-dark-mode")
    if (storage == null) {
        const osDarkSchemePreferred = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
        if (osDarkSchemePreferred === true) {
            document.getElementsByTagName("html")[0].classList.add("theme-dark")
        }
    } else {
        const savedDarkMode = JSON.parse(storage)
        if(savedDarkMode === true) {
            document.getElementsByTagName("html")[0].classList.add("theme-dark")
        }
    }
    </script>
<script type="text/javascript" src="https://unpkg.com/kotlin-playground@1/dist/playground.min.js" async></script>
<script type="text/javascript" src="../scripts/sourceset_dependencies.js" async></script>
<link href="../styles/style.css" rel="Stylesheet">
<link href="../styles/main.css" rel="Stylesheet">
<link href="../styles/prism.css" rel="Stylesheet">
<link href="../styles/logo-styles.css" rel="Stylesheet">
<link href="../styles/font-jb-sans-auto.css" rel="Stylesheet">
<script type="text/javascript" src="../scripts/clipboard.js" async></script>
<script type="text/javascript" src="../scripts/navigation-loader.js" async></script>
<script type="text/javascript" src="../scripts/platform-content-handler.js" async></script>
<script type="text/javascript" src="../scripts/main.js" defer></script>
<script type="text/javascript" src="../scripts/prism.js" async></script>
<script type="text/javascript" src="../scripts/symbol-parameters-wrapper_deferred.js" defer></script></head>
<body>
    <div class="root">
<nav class="navigation" id="navigation-wrapper">
    <div class="navigation--inner">
        <div class="navigation-title">
            <button class="menu-toggle" id="menu-toggle" type="button">toggle menu</button>
            <div class="library-name">
<a class="library-name--link" href="../index.html">
                            Design-System-WGC
                    </a>            </div>
            <div class="library-version">
            </div>
        </div>
        <div class="filter-section" id="filter-section">
                <button class="platform-tag platform-selector jvm-like" data-active="" data-filter=":components:dokkaHtmlPartial/release">androidJvm</button>
        </div>
    </div>
    <div class="navigation-controls">
        <button class="navigation-controls--btn navigation-controls--theme" id="theme-toggle-button" type="button">switch theme</button>
        <div class="navigation-controls--btn navigation-controls--search" id="searchBar" role="button">search in API</div>
    </div>
</nav>
        <div id="container">
            <div class="sidebar" id="leftColumn">
                <div class="sidebar--inner" id="sideMenu"></div>
            </div>
            <div id="main">
<div class="main-content" id="content" pageids="components::////PointingToDeclaration//-385501891">
  <div class="breadcrumbs"></div>
  <div class="cover ">
    <h1 class="cover"><span><span>components</span></span></h1>
  </div>
  <h2 class="">Packages</h2>
  <div class="table"><a data-name="1986887750%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.commons" id="1986887750%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.commons/index.html">br.com.wgc.design_system.commons</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1986887750%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="2005144170%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.alert" id="2005144170%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.alert/index.html">br.com.wgc.design_system.components.alert</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="2005144170%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="216921054%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.auth" id="216921054%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.auth/index.html">br.com.wgc.design_system.components.auth</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="216921054%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="942090063%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.avatar" id="942090063%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.avatar/index.html">br.com.wgc.design_system.components.avatar</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="942090063%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1129191390%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.bottomsheet" id="-1129191390%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.bottomsheet/index.html">br.com.wgc.design_system.components.bottomsheet</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1129191390%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-2051073713%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.buttons" id="-2051073713%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.buttons/index.html">br.com.wgc.design_system.components.buttons</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-2051073713%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="899101096%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.buttons.fab" id="899101096%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.buttons.fab/index.html">br.com.wgc.design_system.components.buttons.fab</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="899101096%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1312384433%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.cards" id="1312384433%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.cards/index.html">br.com.wgc.design_system.components.cards</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1312384433%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-870472190%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.cards.carddetail" id="-870472190%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.cards.carddetail/index.html">br.com.wgc.design_system.components.cards.carddetail</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-870472190%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-857822151%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.checkbox" id="-857822151%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.checkbox/index.html">br.com.wgc.design_system.components.checkbox</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-857822151%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1724245378%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.chip" id="1724245378%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.chip/index.html">br.com.wgc.design_system.components.chip</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1724245378%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-154655367%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.dialogs" id="-154655367%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.dialogs/index.html">br.com.wgc.design_system.components.dialogs</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-154655367%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1118605957%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.feedback" id="-1118605957%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.feedback/index.html">br.com.wgc.design_system.components.feedback</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1118605957%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1791103825%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.fields" id="-1791103825%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.fields/index.html">br.com.wgc.design_system.components.fields</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1791103825%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1678395218%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.filter" id="-1678395218%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.filter/index.html">br.com.wgc.design_system.components.filter</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1678395218%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="767900918%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.fitness" id="767900918%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.fitness/index.html">br.com.wgc.design_system.components.fitness</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="767900918%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1348016533%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.ifood" id="1348016533%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.ifood/index.html">br.com.wgc.design_system.components.ifood</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1348016533%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1593790546%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.images" id="-1593790546%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.images/index.html">br.com.wgc.design_system.components.images</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1593790546%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="514159583%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.inputs" id="514159583%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.inputs/index.html">br.com.wgc.design_system.components.inputs</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="514159583%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-476684460%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.list" id="-476684460%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.list/index.html">br.com.wgc.design_system.components.list</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-476684460%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1763619103%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.mercadolivre" id="1763619103%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.mercadolivre/index.html">br.com.wgc.design_system.components.mercadolivre</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1763619103%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1608883638%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.navigation" id="-1608883638%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.navigation/index.html">br.com.wgc.design_system.components.navigation</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1608883638%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1544665208%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.nineninefood" id="1544665208%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.nineninefood/index.html">br.com.wgc.design_system.components.nineninefood</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1544665208%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1101954753%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.placeholder" id="1101954753%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.placeholder/index.html">br.com.wgc.design_system.components.placeholder</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1101954753%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1575563162%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.providers_login" id="1575563162%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.providers_login/index.html">br.com.wgc.design_system.components.providers_login</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1575563162%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="340755529%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.radio" id="340755529%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.radio/index.html">br.com.wgc.design_system.components.radio</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="340755529%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1493289652%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.sections.category" id="-1493289652%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.sections.category/index.html">br.com.wgc.design_system.components.sections.category</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1493289652%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="300566842%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.sections.items.category" id="300566842%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.sections.items.category/index.html">br.com.wgc.design_system.components.sections.items.category</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="300566842%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="2038411511%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.sections.items.product" id="2038411511%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.sections.items.product/index.html">br.com.wgc.design_system.components.sections.items.product</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="2038411511%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1760232795%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.sections.product" id="-1760232795%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.sections.product/index.html">br.com.wgc.design_system.components.sections.product</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1760232795%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1349307016%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.sections.type" id="1349307016%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.sections.type/index.html">br.com.wgc.design_system.components.sections.type</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1349307016%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1791918945%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.stepper" id="-1791918945%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.stepper/index.html">br.com.wgc.design_system.components.stepper</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1791918945%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="-1325677373%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.story" id="-1325677373%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.story/index.html">br.com.wgc.design_system.components.story</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="-1325677373%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="777956177%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.tooltip" id="777956177%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.tooltip/index.html">br.com.wgc.design_system.components.tooltip</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="777956177%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="128132653%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.components.tracking" id="128132653%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.components.tracking/index.html">br.com.wgc.design_system.components.tracking</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="128132653%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1295681008%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.mock" id="1295681008%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.mock/index.html">br.com.wgc.design_system.mock</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1295681008%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
<a data-name="1752525009%2FPackages%2F-385501891" anchor-label="br.com.wgc.design_system.previews" id="1752525009%2FPackages%2F-385501891" data-filterable-set=":components:dokkaHtmlPartial/release"></a>
    <div class="table-row" data-filterable-current=":components:dokkaHtmlPartial/release" data-filterable-set=":components:dokkaHtmlPartial/release">
      <div>
        <div class="main-subrow ">
          <div class=""><span class="inline-flex">
              <div><a href="br.com.wgc.design_system.previews/index.html">br.com.wgc.design_system.previews</a></div>
<span class="anchor-wrapper"><span class="anchor-icon" pointing-to="1752525009%2FPackages%2F-385501891"></span>
                <div class="copy-popup-wrapper "><span class="copy-popup-icon"></span><span>Link copied to clipboard</span></div>
              </span></span></div>
          <div class="pull-right">
            <div class="platform-tags no-gutters">
              <div class="platform-tag jvm-like">androidJvm</div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>
      <div class="footer">
        <span class="go-to-top-icon"><a href="#content" id="go-to-top-link"></a></span><span>© 2026 Copyright</span><span class="pull-right"><span>Generated by </span><a href="https://github.com/Kotlin/dokka"><span>dokka</span><span class="padded-icon"></span></a></span>
      </div>
            </div>
        </div>
    </div>
</body>
</html>

